fastapi 
uvicorn 
python-dotenv
websockets
python-multipart
aiohttp
genai
google-genai>=1.16.0
opencv-python
pyaudio 
pillow
mss
googletrans
google-adk==1.8.0
# google-adk==1.6.1
certifi
supabase==2.18.1

